![image.png]()

Ordinal Categoriacal

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder

In [16]:
df = pd.read_csv("/content/customer.csv",usecols=[2,3,4], header=0)
df.sample(5)

   review education purchased
23   Good    School        No
47   Good        PG       Yes
2    Good        PG        No
15   Poor        UG        No
31   Poor    School       Yes

In [17]:
x = df.iloc[:,:-1]
x

     review education
0   Average    School
1      Poor        UG
2      Good        PG
3      Good        PG
4   Average        UG
5   Average    School
6      Good    School
7      Poor    School
8   Average        UG
9      Good        UG
10     Good        UG
11     Good        UG
12     Poor    School
13  Average    School
14     Poor        PG
15     Poor        UG
16     Poor        UG
17     Poor        UG
18     Good    School
19     Poor        PG
20  Average    School
21  Average        PG
22     Poor        PG
23     Good    School
24  Average        PG
25     Good    School
26     Poor        PG
27     Poor        PG
28     Poor    School
29  Average        UG
30  Average        UG
31     Poor    School
32  Average        UG
33     Good        PG
34  Average    School
35     Poor    School
36     Good        UG
37  Average        PG
38     Good    School
39     Poor        PG
40     Good    School
41     Good        PG
42     Good        PG
43     Poor        PG
44  Average        UG
45     Poor        PG
46     Poor        PG
47     Good        PG
48     Good        UG
49     Good        UG

In [20]:
y = df.iloc[:,2]
y

0      No
1      No
2      No
3      No
4      No
5     Yes
6      No
7     Yes
8      No
9     Yes
10    Yes
11    Yes
12     No
13     No
14    Yes
15     No
16    Yes
17    Yes
18     No
19    Yes
20    Yes
21     No
22    Yes
23     No
24    Yes
25     No
26     No
27     No
28     No
29    Yes
30     No
31    Yes
32    Yes
33    Yes
34     No
35    Yes
36    Yes
37    Yes
38     No
39     No
40     No
41    Yes
42    Yes
43     No
44     No
45    Yes
46     No
47    Yes
48    Yes
49     No
Name: purchased, dtype: object

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
x_train.shape,x_test.shape

((40, 2), (10, 2))

In [24]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
x_train_oe= oe.fit_transform(x_train)
x_test_oe = oe.transform(x_test)

In [29]:
x_train_oe = pd.DataFrame(x_train_oe, columns= x_train.columns)

In [30]:
x_train_oe

    review  education
0      0.0        0.0
1      1.0        0.0
2      1.0        1.0
3      2.0        0.0
4      2.0        0.0
5      0.0        2.0
6      1.0        1.0
7      1.0        1.0
8      0.0        0.0
9      1.0        2.0
10     2.0        2.0
11     0.0        2.0
12     0.0        0.0
13     2.0        0.0
14     2.0        1.0
15     0.0        1.0
16     1.0        0.0
17     2.0        1.0
18     2.0        2.0
19     2.0        0.0
20     1.0        0.0
21     1.0        0.0
22     1.0        2.0
23     0.0        0.0
24     0.0        1.0
25     1.0        1.0
26     2.0        1.0
27     2.0        1.0
28     2.0        1.0
29     0.0        2.0
30     0.0        0.0
31     2.0        0.0
32     2.0        1.0
33     1.0        1.0
34     1.0        1.0
35     0.0        1.0
36     0.0        1.0
37     0.0        2.0
38     2.0        2.0
39     1.0        2.0

In [31]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [32]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_train_le = le.fit_transform(y_train)
y_test_le=le.transform(y_test)

In [33]:
y_train_le

array([1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0])

One - hot Encoding

One-hot encoding converts categorical variables into a format that can be provided to ML algorithms to do a better job in prediction.

Suppose we have a nominal feature like:

red - 0 , blue - 1, green- 2

Color	Red	Green	Blue

Red	  1	0	0

Green	0	1	0

Blue	0	0	1

Why Drop One Column? (n categories → n−1 columns)

🧮 Reason: To avoid multicollinearity
The presence of all n columns introduces redundancy.

Any one column can be derived from the others

This is called the Dummy Variable Trap — it can confuse models like Linear Regression and inflate variance.

In [37]:
data = pd.read_csv("/content/cars.csv")
data.sample(5)

          brand  km_driven    fuel                 owner  selling_price
1121     Maruti      58343  Petrol           First Owner         225000
4117      Skoda     265000  Diesel          Second Owner         300000
1471  Chevrolet      38000  Diesel           First Owner         260000
5193    Hyundai     220000  Petrol  Fourth & Above Owner         220000
702      Maruti      80000  Petrol          Second Owner         225000

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   brand          8128 non-null   object
 1   km_driven      8128 non-null   int64
 2   fuel           8128 non-null   object
 3   owner          8128 non-null   object
 4   selling_price  8128 non-null   int64
dtypes: int64(2), object(3)
memory usage: 317.6+ KB

In [46]:
data['brand'].nunique()

32

In [47]:
data['fuel'].nunique()

4

In [48]:
data['owner'].nunique()

5

ONE - HOT ENCODING THROUGH PANDAS

In [49]:
pd.get_dummies(data , columns=["fuel","owner"])

        brand  km_driven  ...  owner_Test Drive Car  owner_Third Owner
0      Maruti     145500  ...                 False              False
1       Skoda     120000  ...                 False              False
2       Honda     140000  ...                 False               True
3     Hyundai     127000  ...                 False              False
4      Maruti     120000  ...                 False              False
...       ...        ...  ...                   ...                ...
8123  Hyundai     110000  ...                 False              False
8124  Hyundai     119000  ...                 False              False
8125   Maruti     120000  ...                 False              False
8126     Tata      25000  ...                 False              False
8127     Tata      25000  ...                 False              False

[8128 rows x 12 columns]

K-1 HOT ENCODING

In [50]:
pd.get_dummies(data , columns=["fuel","owner"], drop_first =True) #avoid multicolineraity

        brand  km_driven  ...  owner_Test Drive Car  owner_Third Owner
0      Maruti     145500  ...                 False              False
1       Skoda     120000  ...                 False              False
2       Honda     140000  ...                 False               True
3     Hyundai     127000  ...                 False              False
4      Maruti     120000  ...                 False              False
...       ...        ...  ...                   ...                ...
8123  Hyundai     110000  ...                 False              False
8124  Hyundai     119000  ...                 False              False
8125   Maruti     120000  ...                 False              False
8126     Tata      25000  ...                 False              False
8127     Tata      25000  ...                 False              False

[8128 rows x 10 columns]

HOT ENCODING THROUGH SK-LEARN

In [53]:
x= data.iloc[: ,:-1]
x

        brand  km_driven    fuel                 owner
0      Maruti     145500  Diesel           First Owner
1       Skoda     120000  Diesel          Second Owner
2       Honda     140000  Petrol           Third Owner
3     Hyundai     127000  Diesel           First Owner
4      Maruti     120000  Petrol           First Owner
...       ...        ...     ...                   ...
8123  Hyundai     110000  Petrol           First Owner
8124  Hyundai     119000  Diesel  Fourth & Above Owner
8125   Maruti     120000  Diesel           First Owner
8126     Tata      25000  Diesel           First Owner
8127     Tata      25000  Diesel           First Owner

[8128 rows x 4 columns]

In [55]:
y = data.iloc[:, 4]
y

0       450000
1       370000
2       158000
3       225000
4       130000
         ...
8123    320000
8124    135000
8125    382000
8126    290000
8127    290000
Name: selling_price, Length: 8128, dtype: int64

In [82]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
x_train.shape,x_test.shape

((6502, 4), (1626, 4))

In [79]:
from sklearn.preprocessing import OneHotEncoder

# Create the encoder with unknown category handling
ohe = OneHotEncoder(drop='first', handle_unknown='ignore', sparse_output=False)

# Fit on train, transform both
x_train_new = ohe.fit_transform(x_train[['fuel', 'owner']])
x_test_new = ohe.transform(x_test[['fuel', 'owner']])

/usr/local/lib/python3.11/dist-packages/sklearn/preprocessing/_encoders.py:246: UserWarning: Found unknown categories in columns [0, 1] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [63]:
x_train =x_train.iloc[:,:2].values
x_train

array([['Hyundai', 144000],
       ['Hyundai', 35000],
       ['Hyundai', 50000],
       ...,
       ['Chevrolet', 67600],
       ['Audi', 31800],
       ['Ford', 40000]], dtype=object)

In [80]:
x_train_new.shape

(6502, 829)

In [81]:
np.hstack((x_train, x_train_new)).shape

(6502, 831)

ONE0- HOT ENCODING WITH TOP CATEGORIES AND REMAINING AS OTHERS

In [83]:
Counts = data['brand'].value_counts()
Counts

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [84]:
data['brand'].nunique()
threshold =100

In [85]:
repl = Counts[Counts<= threshold].index

In [86]:
pd.get_dummies(data['brand'].replace(repl,'uncommon',)).sample(5)

        BMW  Chevrolet   Ford  Honda  Hyundai  ...  Skoda   Tata  Toyota  Volkswagen  uncommon
3356  False      False  False  False    False  ...  False  False   False        True     False
5167  False      False  False  False    False  ...  False  False   False       False     False
34    False      False  False  False    False  ...  False  False   False       False     False
7212  False      False  False  False    False  ...  False  False    True       False     False
1402  False      False  False  False    False  ...  False  False   False       False     False

[5 rows x 13 columns]